.DS_Store


# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# other
#-------------------------
.editorconfig
composer.json
composer.lock
contributing.md
license.txt
readme.rst
.project

# 配置文件
app.js
